.table-container {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
}

.table-container th,
.table-container td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.hidden-row {
    display: none;
}